
header {
  top: 0;
  z-index: 99;
  position: sticky;
  height: 70px;
  backdrop-filter: blur(4px);
  background-color: #fdfcf8e6;
  border-bottom: 1px solid var(--border-color);

  @keyframes slide-in {
  from {
    color: #8c8273;
    padding-bottom: 15px;
    border-bottom: 2px solid transparent;
  }

  to {
    color: var(--accent);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--accent);
  }
}

  .header__logo {
    height: 32px;
  }

  .header-divider {
    margin-top: 2px;
    height: 20px;
    width: 1px;
    background-color: var(--border-color);
  }

  nav {
    li {
      list-style: none;
      a {
        color: #8c8273;
        font-weight: 700;
        margin: 0 12px;

        &.active {
          color: var(--accent);
          animation: slide-in 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }
      }
    }
  }
}

.dark {
  header {
    background-color: #121212e6;

    nav li a {
      color: #a09a90;
    }
  }
}
