<a class="flex-yc font-calligraphy  title-color fw-600 pointer" href="{{ .Site.BaseURL }}">
  <img src="/logo.svg" alt="{{ site.Title }}" class="header__logo mr-10" />
  <h1 class="fs-22">{{ site.Title }}</h1>
</a>

<div class="flex-yc">
  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  <div class="header-divider mx-10"></div>
  <div class="flex-yc pl-10">
    <remix-icon class="pointer theme-toggle" size="18" name="moon-clear-line"></remix-icon>
    <remix-icon class="pointer ml-20" size="18" name="search-2-line"></remix-icon>
  </div>
</div>
