<!doctype html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
        {{/*  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;700&family=Zhi+Mang+Xing&family=Ma+Shan+Zheng&display=swap" rel="stylesheet">  */}}
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;700&family=Zhi+Mang+Xing&family=Ma+Shan+Zheng&display=swap" rel="stylesheet">

    {{ partial "head.html" . }}
  </head>

  <body>
    <div id="root" class="paper-texture wh-100">
      <header class="flex-yc flex-sb px-20">{{ partial "header.html" . }}</header>
      <main class="animate-fade-in">{{ block "main" . }}{{ end }}</main>
      {{/*  <footer>{{ partial "footer.html" . }}</footer>  */}}
    </div>

  </body>
</html>
